.product_card{
    /* margin: 30px 15px; */
    /* border: 2px solid red; */
    padding: 0 !important;
}

.product_image{
    width: 100%;
    padding: 10px;
}

.nav_link, .nav_link:hover {
    font-weight: 700;
    color: black;
    text-decoration: none;
}