.navbar{
    padding: 1.5rem 3rem !important;
    box-shadow: 0px 0px 20px 0px black;
}

.nav_brand{
    /* font-size: 2rem !important; */
    font-weight: 900;
    color: red !important;
}

.black{
    color: black;
}

.nav_link, .nav_link:hover {
    font-weight: 700;
    color: black;
    text-decoration: none;
}

.nav_item{
    padding-right: 1.5rem;
}

.nav_toggler{
    background-image: url(https://salty-plateau-62097.herokuapp.com/static/media/menu.6e5e1454.svg);
    border: 2px solid black;
}

@media (max-width: 768px) { 
    .nav_item{
        margin: 10px;
    }
}
